.action { 
    color: #fff;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    margin-right: 30px;
    transition: 0.3s;
}


.action:hover {
    transform: scale(1.1);
    text-shadow: 0px 0px 5px #000;
}

.action:before {
    content: "";
    height: 10px;
    width: 10px;
    margin-right: 10px;
    background-color: #44b466;
    transition: 0.3s;
}

.action:hover::before {
    background-color: #eb5439;
    box-shadow: 0px 0px 3px #000;
}