a, a:before, .button {
    transition: 0.3s;
}

a:before, .button {
    background-color: #44b466;
}

a:hover {
    transform: scale(1.1);
}

a:hover::before, .button:hover {
    background-color: #eb5439;
}

a:before {
    content: "";
    height: 10px;
    width: 10px;
    margin-right: 10px;
}

.button {
    text-align: center;
    display: inline-block;
    padding: 17px 14px;
    box-shadow: 5px 5px 0px #000;
    margin-right: 0px;
}

.button:hover {
    transform:scaleX(1.08);
    box-shadow: 3px 4px 3px #000;
}
