.main-title {
    font-family: 'Press Start 2P', Arial, Helvetica, sans-serif;
    text-shadow: 4px 4px 0px #000;
    text-align: inherit;
    color: #973cff;
    font-size: 40px;
    margin-bottom: 28px;
}




