.nav-button { 
    color: #fff;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    margin-right: 30px;
    transition: 0.3s;
}


.nav-button:hover {
    transform: scale(1.1);
    text-shadow: 0px 0px 5px #000;
}

.nav-button:before {
    content: "";
    height: 10px;
    width: 10px;
    margin-right: 10px;
    background-color: #973cff;
    transition: 0.3s;
}

.nav-button:hover::before {
    background-color: #3f3cff;
    box-shadow: 0px 0px 3px #000;
}