.wrapper-skills {
    display: inline-flex;
    margin-left: 500px;
    padding-bottom: 50px;
}

.skill-tech {
    display: block;
    font-family: 'Press Start 2P';
    color: #fff;
    font-size: 25px;
    margin-top: 5px;
    margin-left: 30px;
    margin-bottom: 16px;
}


